.container{
  display: grid;
  margin:auto;
  gap: 4px;
  grid-template-rows: .5fr 2fr 2fr .5fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "header content content"
                         "sidebar content content"
                         "sidebar content content"
                          "footer content content";
  height: 100vh;
}
header{
  grid-area: header;
  background: white;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "picture admin1"
                          "picture admin2";
}
header img{
  align-self: center;
  margin-left: 20px;
  grid-area: picture;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
header h2{
  grid-area: admin1;
  align-self: start;
  margin:0;
}
header h4{
  grid-area: admin2;
  align-self: start;
  margin:0;
}
aside{
  grid-area: sidebar;
  background: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:auto 50px 50px 50px 50px 50px auto ;
  justify-content: center;
  gap: 10px;
}
#dashboard,#product,#order,#report,#logout{
  grid-column: 2/3;
}
#buttondashboard{
  grid-row: 2/3;
}
#buttonproduct{
  grid-row: 3/4;
}
#buttonorder{
  grid-row: 4/5;
}
#buttonreport{
  grid-row: 5/6;
}
#buttonlog-out{
  grid-row: 6/7;
  cursor: pointer;
}
footer{
  grid-area: footer;
}
article{
  grid-area: content;
  height: fit-content;
  overflow: visible;
}
#buttonproduct,
#buttonorder,
#buttondashboard,
#buttonreport,
#buttonlog-out {
  border: 2px solid transparent;
  transition: 0.2s ease;
  background: pink;
  border-radius: 20px;
}
#buttonlog-out a {
  text-decoration: none;
  color: black;
}

#buttonproduct:hover,
#buttonorder:hover,
#buttondashboard:hover,
#buttonreport:hover,
#buttonlog-out:hover {
  border-color: pink;
  background: white;
}

@media(max-width: 768px){
  .container{
    grid-template-rows: 10% 10% 60% 10%;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                            "sidebar"
                            "content"
                            "footer"    ;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }
}