@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: Poppins, sans-serif;
}
body{
    margin: 0;
    background: url("../images/bg.png");
}
.nav{
    background-color: white;
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.userNav{
    display: flex;
    height: 50px;
    overflow: hidden;
    align-items: center;
}
.userNav img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
}
.userNav .login-button{
    margin: 50px;
    background-color: pink;
    border-radius: 50px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: Poppins;
    font-size: 12px;
    border: 2px solid transparent;
    transition: 0.2s ease;
    cursor: pointer;
}
.userNav .login-button:hover{
    background: white;
    border-color: pink;
}
.buttonsNav{
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 13px;
    color: black;
}
.buttonsNav a{
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    margin: 0px 10px 0px 10px;
    color: black;
    transition: 0.2s ease;
}
.buttonsNav a:hover{
    background-color: pink;
}
.buttonsNav button img{
    height: 40px;
    width: 40px;
}
.buttonsNav .nav-add-button{
    background-color: pink;
    border-radius: 40px;
    border: none;
    padding: 5px 50px 5px 50px;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 15px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}
.buttonsNav .nav-add-button:hover{
    border-color: pink;
    background: white;
}

.title{
    display: flex;
    overflow: hidden;
    background-color: pink;
    height: 75px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.72);
}

.title img{
    opacity: 66%;
    width: 750px;
}

.change-container{
    background: white;
    height: 1000px;
}

.profile{
    display: none;
}
.orders{
    display: none;
}
.designs{
    display: none;
}
.designs-display{
    display: flex;
    justify-content: center;
    background: white;
    height: 1000px;
}
.profile-display{
    display: flex;
    justify-content: center;
    background: white;
    height: 1000px;
}
.orders-display{
    display: flex;
    justify-content: center;
    background: white;
    height: 1000px;
}