body{
  background-color: transparent;
}
.ordercontent{
  grid-column: 1/8;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 60px auto 60px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
}
.ordercontent .align{
  margin-left: 5px;
}
.align1{
  margin-left: -60px;
}
.ordercontent .ordertext{
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
.ordercontent .order{
  grid-row: 2/3;
  grid-column: 1/5;
}
.hov{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
.hov:hover{
  background-color: pink;
}
.ordercontent .total{
  grid-row: 3/4;
  grid-column: 4/5;
  justify-self: start;
}

@media (max-width: 768px) {
  .email {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .align1{
    display: flex;
    justify-content: flex-start;
  }


}