  .search-box {
    position: absolute;
    width: 865px;
    height: 69px;
    top: 100px;
    left: 470px;
    background: white;
    z-index: 36;
    border-radius: 30px;
  }
  .search {
    display: flex;
    height: 68px;
    width: 500px;
    border-radius: 25px;
    margin-left: 100px;
    border-width: 0 0 0 0 ;
    font-size: 25px;
  }
  input::placeholder{
    display: flex;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 0px;
  }
  .image-9 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    left: 808px;
    background: url(https://static.codia.ai/image/2025-03-14/b3c64c74-50d8-4307-b6fa-8e556dd9c528.png)
      no-repeat center;
    background-size: cover;
    z-index: 39;
  }
  .magnifying-glass {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 20px;
    left: 37px;
    background: url(https://static.codia.ai/image/2025-03-14/c13e9119-706f-4cc6-8bbc-9bb2d71abce2.png)
      no-repeat center;
    background-size: cover;
    z-index: 37;
  }
  .image-a {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 208px;
    left: 690px;
    z-index: 33;
    border-radius: 60px;
  }
  .scroll-pane {
    position: absolute;
    width: 1099.35px;
    height: 1106.309px;
    top: 300px;
    left: 350px;
    background: url(https://static.codia.ai/image/2025-03-14/371cc5fe-b7fd-41e5-8239-08737ab6fc30.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .image-b {
    position: relative;
    width: 38px;
    height: 38px;
    margin: 29px 0 0 887px;
    background: url(https://static.codia.ai/image/2025-03-14/a936576b-c4e7-4ade-ac2c-076c51b4857a.png)
      no-repeat center;
    background-size: cover;
    z-index: 42;
  }
  .group {
    position: relative;
    width: 973px;
    height: 964px;
    margin: 75.309px 0 0 51px;
    background: url(https://static.codia.ai/image/2025-03-14/ef7ed381-958b-44b3-b506-b1efa69dba89.png)
      no-repeat center;
    background-size: cover;
    z-index: 41;
    overflow: visible auto;
  }
  .group-c {
    position: relative;
    width: 275px;
    height: 334.833px;
    margin: 12px 0 0 0;
    background: url(https://static.codia.ai/image/2025-03-14/9438f44b-0212-48bd-8f7c-2114b9804a68.png)
      no-repeat center;
    background-size: cover;
    z-index: 40;
  }
  .productbody{
    margin-top: -90px;
    margin-left: -310px;
    display: flex;
    position: absolute;
    width: 1500px;
    height: 1403px;
    top: 90px;
    left: 310px;
    background: #f6f6f6;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.5);
  }